<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Timekeeping"
            id="com.packtpub.e4.clock.ui">
      </category>
      <view
            name="Clock View"
            icon="icons/sample.gif"
            category="com.packtpub.e4.clock.ui"
            class="com.packtpub.e4.clock.ui.views.ClockView"
            id="com.packtpub.e4.clock.ui.views.ClockView">
      </view>
      <view
            category="com.packtpub.e4.clock.ui"
            class="com.packtpub.e4.clock.ui.views.TimeZoneView"
            icon="icons/sample.gif"
            id="com.packtpub.e4.clock.ui.views.TimeZoneView"
            name="Time Zone View"
            restorable="true">
      </view>
      <view
            category="com.packtpub.e4.clock.ui"
            class="com.packtpub.e4.clock.ui.views.TimeZoneTreeView"
            icon="icons/sample.gif"
            id="com.packtpub.e4.clock.ui.views.TimeZoneTreeView"
            name="TimeZoneTreeView"
            restorable="true">
      </view>
      <view
            category="com.packtpub.e4.clock.ui"
            class="com.packtpub.e4.clock.ui.views.TimeZoneTableView"
            icon="icons/sample.gif"
            id="com.packtpub.e4.clock.ui.views.TimeZoneTableView"
            name="TimeZoneTableView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.util.TimeZone"
            class="com.packtpub.e4.clock.ui.internal.TimeZoneAdaptorFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Says Hello World"
            id="com.packtpub.e4.clock.ui.command.hello"
            name="Hello">
         
      </command>
          
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.packtpub.e4.clock.ui.handlers.HelloHandler"
            commandId="com.packtpub.e4.clock.ui.command.hello">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution allPopups="false"
               locationURI="menu:help?after=additions">
               <command
                     commandId="com.packtpub.e4.clock.ui.command.hello" label="Hello" style="push">
                     <visibleWhen>
                     <with variable="activeContexts">
                           <iterate operator="or">
                           <equals
                                 value="org.eclipse.jdt.ui.javaEditorScope">
                           </equals>
                           </iterate>
                     </with>
                     </visibleWhen>
               </command>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.packtpub.e4.clock.ui.command.hello"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>

</plugin>
